.table-repo-container {
  overflow: auto;
  max-height: calc(100vh - 150px);
}

.fav {
  display: inline-block;

  &:after {
    color: gray;
    content: '☆';
  }

  &--selected {
    &:after {
      color: orange;
      content: '★';
    }
  }
}
