<div class="header">
  <div class="header__content">
    <a class="header__logo" href="#">
      GitHub Client
    </a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <button
            mat-flat-button
            color="primary"
            routerLink="top-repo"
          >Top Repo</button>
        </li>
        <li class="nav__item">
          <button
            mat-flat-button
            color="primary"
            routerLink="favorite-repos"
          >Favorite Repo</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
