.repo-card {
  margin-bottom: 20px;
}

.content {
  display: flex;
  gap: 20px;
  margin: 20px 0;

  &__img {
    height: 80px;
    width: 80px;
    border-radius: 80px;
  }
}

.header {
  &__fav {
    display: inline-block;

    &:after {
      color: gray;
      content: '☆';
    }

    &--selected {
      &:after {
        color: orange;
        content: '★';
      }
    }
  }
}
