<mat-card class="repo-card">
  <mat-card-header class="repo-card__header header">
    <mat-card-title>{{repo?.name}}</mat-card-title>

    <span [ngClass]="{
        'header__fav': true,
        'header__fav--selected': repo?.fav
    }"></span>

  </mat-card-header>

  <div class="repo-card__content content">
    <img
      class="content__img"
      [src]="repo?.owner!.avatar_url"
      alt="Photo of a Shiba Inu"
    >
    <div class="content__text-wrap">
      <p>{{repo?.owner!.login}}</p>
      <p>{{repo?.description ? repo?.description : 'No description'}}</p>
    </div>
  </div>


  <button
    *ngIf="buttonCard === 'add'"
    mat-raised-button
    color="primary"
    (click)="onAddFavoriteRepo()"
  >
    Add to favorites
  </button>

  <button
    *ngIf="buttonCard === 'delete'"
    mat-raised-button
    color="primary"
    (click)="onDeleteFavoriteRepo()"
  >
    Delete from favorites
  </button>

</mat-card>
